name: Commit Stage # The name of the workflow
on: 
  push: # The workflow is triggered when new code is pushed to the repository
    paths:
    - 'catalog-service'

permissions: #  The permissions granted to the job
      contents: read # Permission to check out the current Git repository
      security-events: write # Permission to submit security events to GitHub
      
jobs:
  build: # The job’s unique identifier
    name: Build and Test # The type of machine where the job should be run
    runs-on: ubuntu-22.04 # A human-friendly name for the job  
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3 #Checks out the current Git repository (catalog-service) (with current line above)
    - name: Set up JDK 
      uses: actions/setup-java@v3 #Installs and configures a Java runtime
      with: # Defines which version, distribution, and cache type to use
        distribution: temurin
        java-version: 17
        cache: gradle
    - name: Code vulnerability scanning
      uses: anchore/scan-action@v3 #Scans the codebase for vulnerabilities using grype
      id: scan #Assigns an identifier to the current step so that it can be referenced from subsequent steps
      with:
        path: "${{ github.workspace }}" #The path to the checked-out repository
        fail-build: false #Whether to fail the build in the event of security vulnerabilities
        severity-cutoff: high #The minimum security category to be considered as an error (low, medium, high, critical)
        acs-report-enable: true #Whether to enable the generation of a report after the scan is completed
    - name: Upload vulnerability report
      uses: github/codeql-action/upload-sarif@v4 #Uploads the security vulnerability report to GitHub (SARIF format)
      if: success() || failure() #Uploads the report even if the previous step fails
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }} #Fetches the report from the output of the previous step
    - name: Build, unit tests and integration tests
      run: |
        chmod +x gradlew 
        ./gradlew build
#Ensures the Gradle wrapper is executable, solving Windows incompatibilities
#Runs the Gradle build task, which compiles the codebase and runs unit and integration tests

#GitHub Actions is a platform built into GitHub that lets you automate
#software workflows directly from your code repositories. A workflow is an
#automated process. We’ll use workflows to model the commit stage of our
#deployment pipeline. Each workflow listens to specific events that trigger its
#execution.

#Each workflow is organized into jobs that run in parallel. 
#Each job is executed on a runner instance, which is a server provided by
#GitHub. You can choose between Ubuntu, Windows, and macOS.

#Each job is composed of steps, which are executed sequentially. A step could
#be either a shell command or an action. Actions are custom applications used
#to perform complex tasks in a more structured and reproducible way. For
#example, you could have actions for packaging an application into an
#executable, running tests, creating a container image, or pushing an image to
#a container registry. The GitHub organization provides a basic set of actions,
#but there’s also a marketplace with many more actions developed by the
#community.
